
.logo-container{
    text-align: center;
}

.logo-container img{
    max-width: 20%;
    height: auto;
}

header{
    text-align: center;
}

h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

p{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

